<div hidden class="hidden privacy-modal" id="cookie_consent_modal">
	<div class="privacy-modal-content">
		<h2><span id="privacy-cookie-icon">🍪</span>Diese Website nutzt Cookies</h2>
		<p>
			Wir verwenden Cookies, um zu erfahren, wie Sie mit dieser Website interagieren um diese stets zu verbessern.
			Sie können Ihre Einstellungen unten anpassen.<br />
			Hier ist unsere <a class="privacy-modal-link" href="{{ "datenschutz" | anyPage }}">Datenschutzerklärung</a>.
		</p>
	</div>
	<div class="privacy-modal-buttons">
		<button class="privacy-modal-link" id="cookie_consent_modal_decline">Ablehnen</button>
		<button class="button" id="cookie_consent_modal_accept">Zustimmen</button>
	</div>
</div>